.DS_Store
.Rproj.user
.RData
.Rhistory
rsv_replication.Rproj


paper.pdf

data/poverty/raw/shrug*
data/poverty/raw/muralidharanetal_replication_package/20141346_data/master_analysis.do
data/poverty/raw/muralidharanetal_replication_package/20141346_data/analysis_code/*
data/poverty/raw/muralidharanetal_replication_package/20141346_data/compile_tables_figures/*
data/poverty/raw/muralidharanetal_replication_package/20141346_data/utilities/*
data/poverty/raw/muralidharanetal_replication_package/20141346_data/data/a*.dta
data/poverty/raw/muralidharanetal_replication_package/20141346_data/data/bl*.dta
data/poverty/raw/muralidharanetal_replication_package/20141346_data/data/balance-for-ap-mandal-comparison-from-01-village-directory.dta
data/poverty/raw/muralidharanetal_replication_package/20141346_data/data/c*.dta
data/poverty/raw/muralidharanetal_replication_package/20141346_data/data/d*.dta
data/poverty/raw/muralidharanetal_replication_package/20141346_data/data/e*.dta
data/poverty/raw/muralidharanetal_replication_package/20141346_data/data/g*.dta
data/poverty/raw/muralidharanetal_replication_package/20141346_data/data/h*.dta
data/poverty/raw/muralidharanetal_replication_package/20141346_data/data/j*.dta
data/poverty/raw/muralidharanetal_replication_package/20141346_data/data/n*.dta
data/poverty/raw/muralidharanetal_replication_package/20141346_data/data/o*.dta
data/poverty/raw/muralidharanetal_replication_package/20141346_data/data/r*.dta
data/poverty/raw/muralidharanetal_replication_package/20141346_data/data/s*.dta
data/poverty/processed/poverty_data.csv

data/cropburn/raw/shrug*
data/cropburn/raw/jacketal_replication_package/Ado/*
data/cropburn/raw/jacketal_replication_package/Do/*
data/cropburn/raw/jacketal_replication_package/Output/*
data/cropburn/raw/jacketal_replication_package/Data/Analysis/dataset_for_analysis.dta
data/cropburn/raw/jacketal_replication_package/Data/Analysis/merged_all.dta
data/cropburn/raw/jacketal_replication_package/Data/Baseline/*
data/cropburn/raw/jacketal_replication_package/Data/Census/*
data/cropburn/raw/jacketal_replication_package/Data/Endline/*
data/cropburn/raw/jacketal_replication_package/Data/Intervention/*
data/cropburn/raw/jacketal_replication_package/Data/Listing/*.xlsx
data/cropburn/raw/jacketal_replication_package/Data/Listing/?isting_*
data/cropburn/raw/jacketal_replication_package/Data/Listing/preloads*
data/cropburn/raw/jacketal_replication_package/Data/Listing/vil_data.dta
data/cropburn/raw/jacketal_replication_package/Data/ML/*
data/cropburn/raw/jacketal_replication_package/Data/Monitoring/*
data/cropburn/raw/jacketal_replication_package/Data/Spotchecks/*

