.DS_Store
.Rproj.user
.RData
.Rhistory
rsv_replication.Rproj


paper.pdf

data/raw/shrug/shrug-ec13-csv
data/raw/shrug/shrug-pc11dist-poly-shp
data/raw/shrug/shrug-pc11subdist-poly-shp
data/raw/shrug/shrug-secc-cons-urban-csv
data/raw/shrug/shrug-pc11-village-poly-shp
data/raw/shrug/shrug-pc11state-poly-shp
data/raw/shrug/shrug-secc-cons-rural-csv
data/raw/shrug/shrug-shrid-poly-shp

data/raw/shrug/shrug-viirs-annual-csv/*
data/raw/shrug/shrug-viirs-annual-csv_v2/*

data/raw/shrug/shrug-secc-mord-rural-csv/*
data/raw/shrug/shrug-secc-parsed-urban-csv/*

data/raw/cropburn/jacketal_replication_package/Ado/*
data/raw/cropburn/jacketal_replication_package/Do/*
data/raw/cropburn/jacketal_replication_package/Output/*

data/raw/cropburn/jacketal_replication_package/Data/Analysis/merged_all.dta
data/raw/cropburn/jacketal_replication_package/Data/Baseline/*
data/raw/cropburn/jacketal_replication_package/Data/Census/*
data/raw/cropburn/jacketal_replication_package/Data/Endline/*
data/raw/cropburn/jacketal_replication_package/Data/Intervention/*
data/raw/cropburn/jacketal_replication_package/Data/Listing/*.xlsx
data/raw/cropburn/jacketal_replication_package/Data/Listing/?isting_*
data/raw/cropburn/jacketal_replication_package/Data/Listing/preloads*
data/raw/cropburn/jacketal_replication_package/Data/Listing/vil_data.dta
data/raw/cropburn/jacketal_replication_package/Data/ML/*
data/raw/cropburn/jacketal_replication_package/Data/Monitoring/*
data/raw/cropburn/jacketal_replication_package/Data/Spotchecks/*

data/raw/antipoverty/muralidharanetal_replication_package/*

data/clean/cropburn/villages/*
data/clean/cropburn/districts/*

data/clean/antipoverty/state/*
data/clean/antipoverty/districts/*
data/clean/antipoverty/shrids/*

data/clean/antipoverty/simulations/*
data/clean/antipoverty/features/*
data/clean/antipoverty/data.csv

data/raw/antipoverty/features/\[RAW] Centroid_features.csv
